body {
  background-image: linear-gradient(to right, #1D976C 0%, #93F9B9  51%, #1D976C  100%);
  font-family: "Jaro", sans-serif;
  font-weight: 400;
}

.container {
    text-align: center;
    margin: auto;
    margin-top: 30vh;
    
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-family: "Jaro", sans-serif;
  font-size: 40px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

button:hover {
  background-color: #2b352c; /* Darker green */
}

button:active {
  background-color: #030303; /* Even darker green */
}